.camunda-filter-box-container {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 5px 0;

  .datetime-picker {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    .react-datepicker {
      margin-bottom: 0px;
      background-color: #ffffff;
    }

    .react-datepicker__aria-live {
      display: none;
    }
  }

  .dropdown {
    display: inline;

    &.show {
      display: inline-block !important;
    }
  }

  .expression {
    display: inline;
    font-weight: inherit;
    font-size: inherit;
    padding: 0 3px;
    border-radius: 3px;
    color: #155cb5;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    margin: 5px 0 0 5px;

    &.invalid {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442;
    }

    .dropdown {
      margin-right: 5px;

      span {
        margin-right: 0;
      }
    }

    span {
      margin-right: 5px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.non-editable {
        cursor: default;
      }

      .form-control {
        width: auto;
        min-width: 40px;
        max-width: 100%;
        margin-bottom: -1px;
        height: auto;
      }
    }
  }

  &.form-control {
    .search-input {
      border: 0;
      margin: 5px 10px 0 5px;

      &:focus {
        outline: none;
      }
    }
  }
}